{% extends 'base.html' %}
{% block title %}
About
{% endblock title %}
{% block head %}
<h1>About Us</h1
{% endblock head %}
{% block body %}
>

    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #FFFFFF;
        }
        header {
            text-align: center;
            padding: 1rem;
        }
        .container {
            margin: auto;
            padding: 2rem;
        }
        h1 {
            color: #333;
        }
    </style>
    <div class="container">
        <h2>Welcome to Impact Fitness!</h2>
        <p>
            At Impact Fitness, we are passionate about helping you achieve your fitness goals. Whether you're just starting your fitness journey or looking to take your workouts to the next level, we've got you covered.
        </p>
        <p>
            Our state-of-the-art facilities are equipped with the latest fitness equipment, and our team of experienced trainers is here to guide and support you every step of the way. We believe in creating a positive and motivating environment where you can thrive and reach your full potential.
        </p>
        <h2>Our Mission</h2>
        <p>
            Our mission is to inspire and empower individuals to lead healthier and happier lives. We strive to provide a welcoming and inclusive community that fosters personal growth, encourages progress, and celebrates achievements.
        </p>
        <h2>Contact Us</h2>
        <p>
            If you have any questions or inquiries, don't hesitate to get in touch with us. You can reach us at:
        </p>
        <ul>
            <li>Email: Impactfitness679@gmail.com</li>
            <li>Phone: +91 7736381741</li>
        </ul>
    </div>





{%  endblock body %}
